body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.bgimage {
    height: 100vh;
    width: 100%;
    background-image: url('https://bhavans.ac.in/college/web-assets/img/banner5.jpg');
    background-size: cover;
    background-color: #fff;
    background-blend-mode: luminosity;
    filter: blur(5px);
}


#myVideo {
    /* position: fixed;
    right: 0;
    bottom: 0; */
    min-width: 70%;
    min-height: 40%;
}

.main-section {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.images-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FDE49E;
    align-items: center;
}

.cards-section-1 {
    align-items: center;
    display: flex;
    height: 80%;
    width: 85%;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: red;
    background-color: #FEB941;
    text-align: center;
    padding: 5px;
}

.cards-section-1 h3 {
    font-weight: 700;
    color: #f1f1f1;
    margin-top: 10px;
}

.image-circle-container {
    width: 150px;
    border: 2px solid wheat;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    background-size: cover;
    height: 141px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.arman {
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AKGpihbVvnp87XqZ8Eq97Az-bIVb5tU2b64QelwsHOmEpf5-y8z88tWsiOjM7v-DEY2pxtPpxsV_bhiR_jrrc7yxv06sCTm1qsxixac=w1366-h615-rw-v1');
}

.aniket {
    background-image: url('https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihYLWYQm2MZVR1iCcxdUTPX_QLTW_UhgECWts00t_hSMX2_pd8Z-viDNXDoXAlAhPkp6IA_1Q2_K24z-GDdxPF10UZUGkwsAakc=w1366-h641-rw-v1');
}

.atharva {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_Ep6yDyCsf8R9aV-JcfdgkvjRaC3IlowV3H8wPqh4bt21xisKUn6aI5Ti9csZZ1mIfnBMIMs9NxK-hWgo6ZlqKBioeewF9v4gHIEQTsKAXRwh8NMd1JBTTWbaGmQyQ5W1n__7Md31-nCH8UJXs0eEem9k9zuFeRZIGzfPs6kbKpfLH6fkrha9-62QifUUVmh4lRPGUWV_X7ImOfrXp_k3e8iEFXKIxpd5bVoAHzTP2GiiLDt7XU_IIgoncQt9iYNzm9Y4LLokShZASHK-N3xX4zf2xaY8HhG3B9eIbqpt8FyUbiEh9XAPoX2QEw4vmwbFz98lxSsjfsMQ5P5KA2deg_Yn1kChzj5XnvaSyDwDTRBvUuZDa7ZLPs81fhrHvQjUvwfWBepQCXb5gWK2EZMjAKOSh0HkTpUlp7_VmZ4WiSWIHnE3omjL3yaTbCXTSPDrntogI5xYmMpMcfCf32BMNCay3t3CbrU7eqPJ85k1ZlpbYDl6JH1_epiNPpbF3lRyR47GcuVY8JjfB40IpVTN3lHUCyM9om8lIa8mdtu90-MNd858oHux9oCrZKKL9HfYkLOgNhAMqpp6zXW97h8rM-6q8KkK6aovMhU7XXoiT9jvbbUPzUZ5-5Rpc0aTje5jrwtGm2wCnFJKAPVNyggY2c7UF3dukrMBTUUzjl9l7JyhEz0kDsgD3zeLivis0PKOEIXnX1OJcjPCZ2nvTniX4i-5o6UNIx_RnkgDsa_Vw92pYHZrNGjpn4bo-ZqpjlJ5H20EJKUdbhkPdaRda3P3-pHiPivHLy7ggpVT5aRcQ4FZ9EXgreN8Ixnh96sm6OY-OwQy3oBFiJsEcEpQDEp-GHFSECk_QvfXx6EZ8QM4dP37PcN55HZ3j2X8wzYYNHRw3Ot0ru4KYZr8oC0BAkgk4Ux4wPGxKGeC9LospqtaLCQahNWEoxdhsezhT9zC8ae4na4oFqSCUcDQELqUydrMdfpeVoWLfSIuhcozjYkyXH4W7q34YhOC22oWlF7LfxxbqFFB6sGkxdtEEYRzejQSH0xivuDqYtcjftmEXI1JJ_hBHaQ4JR-iL2zuVP7TGa7mAa32w_x5a23up3WPoMKFbs67VQHa53zEhqt6awCJHbPGLWkwEELBgfuCJabt7ZWUkklvTjBqOo588RKSS8g4dDJSOomX_IpS4zAIdqTXsMAKgFI3mTL_Vheu19_MH7t9Zb6nWucn7tNUIE7q1vzMarbU8GNMopBoEq_H_xR-XZ5A_MGJxEOaWFcM5y5WjzgSV1LFg1Bc5SvVWPgqRwUfGXDiKPIhjO6iJ-8ct2EbvCja-b6DOlAwDjUD5LbsX8zFeGEoD7qyF-lJEc7yCKpC5CXXtQKDtS3yjfvCA4b9lh-IaFd7P3y5tv7duUcLfN3tXwHi1DDviiUtDtXgHUK0xnRwMmTCpcAKFdp8bpQ1avM02nWbthkHCIQgFjgHRfV8Fm4BB4OTO12MxCTYyfW_nOVv-KNwbGhjZ0s4s91ujrZ5iizu0uotkPxjEhWWMaeoQKFNNMJAxXnCe3P6aDZKzKtk9FHJixOT74BTlzRim4biDn99s5jgjnn--V2N0tDANwx4Z1ZJL9vOH_2gkKDzejHmUzGqJwz65vzifDJy2eaOmzG9qmnnMVUENtlPXEkDO_6hXlg61b0tdxtgr4=w1920-h912');
}

.piyush {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_H-2IIxoqZMi-b0PhcMyMbPsX8H16ikzr90BTXfn78MsfbQe1N2Tz1rdWJO3gULPHa7IWY2DXwCSQ8D96hwVkHzbD95YIKAYaWbjMngGfnYeMYdTOMWnkUyP0aduh9qQqbpBOfBFATKdRUBkxM0BdE-2B4zAC7dlSndTeVy4viNZ99C3wqkv61wN3euBDtST_709fu2YTicl4jTFEux8XSXlBZmH4oAOSaLu5enDyyQxaLphQcRtqu1FTODFuLZ2m9_pWLN-Rra_kkFGotgFMT0r2d5SPkbKFhLHDK_KTiCT5lG_qpFvxuCp3ESbiR_QCtIBOCXLGNjhNonLc8QTVt8wxIA0RyXytWsBZahcVEhgB049o15u2K3I5QDNskGNQV91Mvt-SruNNTsE-zG66Lw5JCRPTFwQmJt1hveUtf1HFiIrAi9i7UQhPrdDW959v1esJB9e6h_D6HD871RSnw023O9pqB1PJW_ezxZlOSFQFMvHsiQwxz1qHqgxeOda9dlnN5ju8HUgIuDQbNTi0TOqACWy2Yw6JHmrpKh0MBTSJT4w5p2IP-vbMzxt1vjEWHpSAeokRp9c8uRABrnQQEZwJy7EAB6Vrn_W_CGrx3xjRk545JvNtrpkWQdre5SgkgWy5xdnEmmuu9zIx9YR1kvnD3rsCu5SW9Hv8N21rMVVjdDlcSprjeBxvsTDBwcxlZMBv7oY4tvUvR7gu0jyG2PPYFU65cIGtnJyFLddPRAXxHVeI8dm0N90fTtTWgoLi18wO3yR3_bJX6HOz-4GNGiG6SdhWO5urh6Z4pdEprL5jSIlHGrrFKfDpaD-osowrhLkRcPAFVCtee3aL-nmD-9gpV4cOB9LKaxYF1YPm8MllaiqyMfHFVbqn4BL5oOYUtoUDgu0Dkvx-II2nXZPsA6XTYJF0Bf4FD7DfWzTuoOmD2H9m1X3Z7yM9p7-0Uf4o4VKuey6Jca_M5pbiD4chqHLiI4svlqeVgPm-3vnM9u6-1oA85zLS8WQ4jgTXUkX7hlayYXGqROutk8wjNP4ZtmdHrW9FK2BV-KqFhyEIIpJQ1GaoKyC_RmzIN7FbZu6aGXfyPcHS3UjTuq25ohMsQefWxYaDradHmEVVn1OkncSQ2_ZAPxJ2DuUGHswu9qk7rQp3ceLWgFgrQ_V9pHm9U8ELiEseyV7sLVOgST79BywxCuNw7QHjYbrxPStQY26ZgX0KLNZs4RysdUvO9gSlO2PM3wm2OBSjf8JwkktAC7vogsC4p3k-99mqPOYU1npt-2iNYSoTnV0XUMZ1sRtz5Pc9d2rvnP3fWZbtZYwO7s_0pKIvwQXQaQcXZxcWzwmykcHsEbKo7Jik1QMkmsSE7y_BkcvcISua6ZHvcSy7-EPjvcadb9lAlmLrNUzBO8QoWrX55g2tThemeB6zFXReO-RZ05jIs7-e1-KPQicNrsbKDG3u-QYlkKktJTxfGcfKf_XvP7pQS-oTMelzL_m6TABupVtRzCFh9l731FdZGB51uECAgwM0WTxOorqW8vojnMxhelcAlKr2DAWGmjUzaFI_sZ7YmQ2LGbvd88s3a8gIgo4YwkSVYUzF3FsmOnjJXErbHvxMskoCg83JLO7zhPDclmbIhoy4nxXWwmaC8h05VaqT6VqL18mG9fsRq5-tBZQrXs90HotlswSoHF=w1920-h912');
}

.vinit {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_E4hPnzsWe-GQSmJ4VEiA3Cdh1S9jgqvpA-JuM3Eyb2pRon6zw5ace2Xf9swExeq_gX_H824PZdoxS9NMkMzGYlFinsILcMgWiwruzk84tcPY6aAovIQkigu4QT3LdhG9e_ZIdfuy30VwPgqSsQi1cy9ENbvTk7547zoL59fffHx3FxaZGfswHiKjYL8KjkyO7WkWvukd-jPPFDmaQmUDIdAepopo4A_l-_jY66ovu7Isd1ZJET80IAVHkZdyN62fJPSkM6VI3fp_xaQfVMPU3ir9YZDFVTi6gKOzeyY1Pd-pAG1nShfRMOu70T9KPE-1xR0laKAycnNvZ1-DASuli5_D8PA8W-q0wXUh_vuRka7TLmg1Z1JbRnTrHkCxsKFXyVnXYzZ6XA04DjH3XBRByXd-fY8rOzKF-rUE10x1e3g_Bi23yoZUWlphEjNUQbGeYPg6pL0HzaUjMe7zSnoQWb1q0xTSFwnUbh1IoGZCH_X-4Z4cq-U0zahiltbt0gn3ehtGu2JFz890vAqUSMEnTjugNW5xCVCu9hgG7dLoHqgCsEeTzI_F2aqRg7WJaIv7BWKKu_Nkeuoxfsb7gf-Z1ds_pR1r-3EpWsnTGUVy0ZowvbNkbNues-GlKJVhz9qJ1AmTragn5PaT028LQwxOE2xvkiXlyyrlonuuFS5DsxUw5Do-fVolbd2RXSR-Zl7QBzTpppz3LCYnDnbIJa81DNvgkGmBXy_TJlFJLiFiGJeVzfOA7QFNfwXpf0i6txw7TeOCzofWwZgAdwNgYJilHt-dEo_W9N3SPtp_gGv5OfKgkVi_Fl2Ml7CxSmHnfG7l9Oo3Mo-lGZM8THGPvgeQF29n3hdwNwRFrEsdSbKaa4lMJ4TV1Lt0hM5v_PsylaNgzjbKfRqaXZ0n3U0YqKgs08IpWoClzkO76gk-nudPy1tF27TkxtmjJoHwwVCXufnELg3qls8cOL5d_VXFNkj0HEQ9_YvLk8Qj9GszebaGfJv2KYmamKH9BsCh44KJhoeodwPX6Xn9cB9pkUt0a_jM6WxjsrHy6quGgyvZVNUw3cVMsQda7VsP3y2r65UX8HPPmEvpNdK3GHnGgzF0cKZgbv1_F8k2marqaW6lC5BYnpK7foH7vJUrVBPV5KQa9T9P_HMLAv3-mXLPQZL2VcfKhUfdQoPImZjq2AL5jUH1UJ6N12Jc8rbiVk8WJb_Hgv-tHn62c0_N-nXH5MS3yzX3cqIoOI_sPACcQXVTUXFUAGDqzpKekOHlA2mZ1o4a2Ce9Ei7iioyC5aPrEJseZCzN95XtwR8FmOdBX-ElPYKzqXPWphiIBwjnj7tiiUtJaC0Omt7JKG-3Zja0GrlhfhcZKFPLNx3QPP2OzF7lUrsnIBQUgqkc-PNOjVuuhSCRjnkCiHzizsuRnqkrN4Lvi7_uFxz5J3QkTGMsYcWlq3hkm-CQ5buj8MfW4Ezpnd2hNK3HqKi5Xrraze-qqtXLdraQMkBSAgKEWSbNnuJGcUlQZtnUhva8JxHr5mDcENsar3YcllGuiHVuATE1bNqr4x-O7b0CMOZpR4SOLRUA25F6IafQ7cc8aSDFuBjI4cuuLKROD7ZoteZrAF_6Dp2F3Gh9_ql0DfvukeeO4Uq8S4UONdbBiRoL6yW7dtl2jFGZ2g2DF_ISlnb0pFSEnI7xk=w1920-h912');
}

.suyog {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_EOlmlOszT6zY37vK6mgg1mX9oWKueFHdsDLR-Z_3CpcPqmlj8r134Y7z_NMbG2S6kXmtT77DSHM7Lswr0ntkdQiIJFVfzBX8o2KeG-mIwKRw3gHp1fxuskKVXy91jJy2dXAj4rUDjMaH1yg9JG-etk01F7QdiI5TOhaHPfMxlCnxj2g9s0Pq67aRosU_Dftbsd3e11CjsBr-n6OgevRJoexKHj9VYyb-NllGG0mIdeyzlVr-fUX4EvqDuq7CZpISfgMTflLszmJP7JII7iJACm1jBe7aywEhH8qwfq9nKzgo53SLraOroewFJ-7oGatmukCoxkNM5-lrYfrKi7vCzUBM5yAbOUxH7DLF2rMB6J0K8yZGASPjuQRDcppUMllO8WY6KYMjW7yD4NK19z4OC7TmvNu85KbEOdQXGJcfcpVgbNLmyxTKfR66ZdHRT8RNyu-3yt983vNm9nBld8QMREPu3YnJbh0qeuJcGF5DlVW7IpJhjCelW-m8guXmM8hV4DxvI8Q1NiilnKT55Y0UCor7LC4ojpfDQ9s2S6Qwb4z3_oMSd5fIU_zhw05xwHhDuDf9YIZfVLR68HIKmBMVTOEthSxV29Jec_eICmpNwpNtBRVTnJBtzuSgqSC81eQ9QPH7cS8i7TM1K3lJFTHtvb-jTJAVdTYayJ2HzcseDGQ-ie0TEeGvYSu5Rq5RGu7nNT5DNjVd6Rut4v1uVTOsvXCP83wOfz_ibGdOlEoWXldaBL4n36UlFL26vGnv8PX_aFWVQKVtKN83vc1hJ7mXc6rUhoa7mb9hingkXehdNis-CsneawVzpqnzAc44Wi69KzxRXfxiNGOEDM3U-okuZ-2EYSIbY_g17dlCE5C0QppmqBvWMqMNfOD5bu58ZnFrjWqp-tty8CYZB-jZGLv218KU2hbIsqv4uBBsI92g1h88ptTQ9aTQwrez3cl84_EZ_ArChXEwfR0AIxXw405_w5iLSGrgrVlAJTTUz1dlvxW-IaXSaGwXREh0F3AfCmCG-xYS1u79zKs5DrFA-dQiJUwxKbtydSB-c-H7eA8dnCNYKhdqY7bE8WM_1L3bYDFP_7gzwZ--3Zy8trYYHMAsfuLZ6h2B4NDsRaQ_uU9CyAP6_uCVgHgX-oNYrSNc6S3mFfTQowLOrIWhgLqHcH5aQU6zxSof1cf9WBnvYEVCSbB_nEJgpW2-avgt0lRftfDXiBOiUyNo7OpB16NZj9KpUinW5el86PjqRDKSqKP9kLyX8TSKt078TrDdewzNAyWtxwnaVnn3pbQeA-Ry8vkuvZzUJT0Q9wQ447tAAIuPSFKKY-5NcoLOJ-Xbe9yEuhl6ERsudvM_ejl-zy4hHcolSqz-TEAlHTExxl1DqobYNMw_k3lfF0im4eHc32WnUR1JnmTx-NQmihhybz62o_UId2to8GTkQBQvns6oDPpagfZKa3b0MX4YE3ABLDKVEnlrljyOPaeF6sI9K6OwFmtQ2MDq7VYEYIVuiaCoCA73ILRZbIGGZTYTyYMJ1VCnNfKbMyaZ_OyG0hsO68NW5fLqalKB8S5ICm9pexCsZxj8P4G_Oeg58hHEdOuu-rgLHgFoitrp7VsXABwWnGuTjLiHI-jllt_I-lnvk0HqgvN4RZ7Dw4SMtiIQvG4YNqYE07SA677zIrCK8gi_oqGAyz=w1920-h912');
}

.saurav {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_GYS9VZRE4lHCJOkh5931AVh8ffHNiMVP8tA08om0RFE2-_OZw5lrwam1ch8Di7Ygr1w_JO8cE3BxIji0AU0jrtWo4XWzEZEnn2YpAhs4E5Gsd6Hq9s94yz3aVy4kbEMn3taDUlpp9c1cITQfDm4RKBFPlhmeAg3aCg9Rv_F_neHXwhRNnNAP0ilVXjXw41gyT15uVvIRlzaU5KgD7FmbotJ_NdShIuccn3px2-pPplUVDxtLYraM55oY7I2Qtw1-KWsgboZgR302mUdzBVDhXZQ6YFUb5u4v5Pbb6ldJdiecLw8OonqcBqHID7CJbtaRHM1rIR29Ct8HHG_M_XQ4mpKbtPwpFKSaOYqqJUVbBL2wGQjSRj2-3kRl3SuWU3nZkAqYA5VQeAAnpZgek_eEhm_3IWG5KVpdBySqLbl55vq87dKRZNZ2_T89v1VuH9liyZ_6alO1xuhPv_kOjhQkyhziO2JelOO9l-i41jay9Bvuxk5SHLyZq5EqZYx9cWlXIqd90R_ryGVebUP4emT8D7rq6XxPSXMIq576o5ANQCB6FBXAk2Lw6Qw_QnmQs-G0J8xhxkVVK2TmcunEIkrMqBXHY-H7E-3g6nJ5qXM17BKpPuofdTQunK266Ri0bZkkiBo2yQ9aYmALRtvvbQ-jfy4SbDCNq8njzxMYQVWLiaOJHD4CyDq8xPw8bRawJRbIX4O8i6Z3sXIPcW35pnqMVmzrp3YeZDoWkOZNlVeo4_HN66tJuZ9LB_kH54aqJa2MbOvThHDmDPwQggt8-ICBvVn-RZ9C89bTr2HtqnCPiExQofI2GTii-qI7SGEJomXbpO4mgNhFPcxdCNlsO8V9bNslOvIsaTkvAH7BWyByHauRUMTdyfQBcgfDR_ctVFYOYZ0VLGkCVFsQIZO9cX1VbbmmL37PnG7hP-8LeOkWGoYmjt0a14XZahSBgh9-K4GMH7QQmh9I_bqYrLqiA65QV2f44x71mV1KLqdSRjYTHLzcZJvz97zTKBv-Bb4TCRvU9Eawsmwy_BetPkMu6txXpHUgFUUDiBil9JoqQFSLMdId5rZhdr2cdlXLlIO8m0g9aMA_hrdJNiZh0qt2ryPX87lxxLbl1UGygOVoZI_8Wm2Oby0nSKgU5XabpFrsgblcZPdW7M7ihVnFrwUbbS-swN9Kxkjz_nR-TF_-3RC7H9EmJsbMbRloctEwBv5G2YRlzyyV8lZyv5mxGWUb0fhu4P_lxiKJdGTvtYMtjefIhqusRPLWRVfjCscbwxR9GPyDFv0izYAAhs3Bt3ogJQFshWtOK-AfvungwkZ63ppmBXS7HIfW21vrhYSF3dyRRzdi1rzTjDvOtQHYqpkfE7xfKJu0uRmGpO87Hy8n9BuURscPQuMumDuq74CHofLCnwiXvZ3nduktFNkT9nZZ8M7fr3693wgPGlruPjYlFBGOWyjt66iDNiU4I4j1q6QTGMCR62wYMuwIFRH7k58cBYQBHzbi5C6eNI2uFn3PI5SMH2hLlO5S9yQqaEfQZMLPNh9oaHvmMlj-JzHb1-2XhobQ4gR4W17OXm3dUCdDDsS3hutCHGDUQIfLz-n6bTwP3AzMNmf-l3HMW6HQ4_LCjums4t0jekynSdjcdhaMdu51AUnL8aEyZCnZLXB8e8ETlsu7gtJBmKDDlPCOhsjtEj=w1920-h912');
}

.burhan {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_H-9hoOKB4WvzAFVNTH83jLKii8ZEP_Nh8JTpdgzzED4GnmPvGb4j0_mvtqwrQ-KZw2AOug8bE44v3Qmd3Qdq55R4Hgp1y7wNZDZ_iNNTOAFMBboYrstPjS188BfUXAhXe9JUYQBd5qtNp9AKdgFSsBAJahkfMcQkFvex25jLWPMxyzrkCgsBLltnKOa7VQ0WRN8UPFK84q8_lBcxpua1rn98QL9RxzvBCXSyXW_fpmKKVhbPDO7IrCkz52C_mTuJ1tQNaUPzT9i7P_JhYMSXUDxiaWZcmnikrcZ3WnILc-fuBlLQoVorlXIhN6u4Nfk1O2-cUL98nsLzYVWnBEn2Va3OfcuSx2b96GV1WI0MCdCwB3QbMusNFXAboqM4DYufPK-cSM5V2ntcnrDBw2JPdv7-pIxY9wEovtShZ08Q5-R0IWRkHwkh73nt-xwxK6mmxyNPdEcE2hXVv5JNUUlq84LeUph36ifZwjig0vOsb7VWKsXLhpNzSmT99cpFh4yUp3o-3uRw7FfhdoEJBidslEz1iufR3tjO6qEzvDNaIqRW9CRPSAEGg5LfRBXq-0nT0BHgknDq3XLCvfRoalD-7Mq7j8s0wppL4-w2fX0JV2ESqU8zffJM_WMOP2ukls4v6a21PixbeSTIfuwsH4k9F70k2vbKSX_RthOiJR43MT-wakbeUFMsctSiCI773uJQ-gUOTGaqkzs7BjYc7OPt7DqHHNvuEcYs4Y7XDZC7Xop4yg3GOXJUYaMbb5U5_zl3d_A6nUOv84XehJ2-1WBk526fk2LwRK0M6hwjoHVI5KZZowa7X1R-88JKTOas8gLaTjgzre_vg7Dl1jAW8Q2OL9WJbnn_9Rwd3q-NbyG8jCtMdmiCquBLYgutjpr9ni6E5iMAI2QJs_M94PtkYat6az3wJOvj1ODycl14zoHTZi440JQpF5TyF09-21UzCizJGzqHCS1KvTu37Jirl1e2ZPtxHkrCeBuAYEqWOTrL_tlyhSHztrrPkKu7uGVOKBFLwFPkQsXTh_Mh8FRiINbwp9RQAPUUwAfecfkjhBwJOq_KmqN-leB7janmE9ro39w5LqwRBNiKr6qGozJJ-zzLa57bFtnR9sKDAgNqFMSy8zAGJBdEZfsScdYdJDxj7K0NHj9ExKo0GPYLw4Aqz23CZ7mJQZFrRUPbZgVC_IKDsgFdW2nUfDAJm2RtcKaDx-WxvhSOttwazi0mqawPGqrAQaCCMhpnJgdGfuh_H4Ut37r_IwQ84Q6JP1WUBEBRCIcOD1ERAc997ACCdAXYmsHi-RqveMVfImPdH-5iyGP2CJTNWbyyCgPwN39DVZcNgHyX8VwDdio-RjhDdB1h4HBjHRJ8ZboGl0bwT9YExVkPvOsrIY3DCnKRe6tF-FHKRiYHFh72v7tDHFBiQVrXKpoLlhpwu0MvfesCZ-vGIB48-zypXBXiZbDSX0t7of4hnuSj-N7qAVC8GHNykfX5NJBm4LgCIB585Ilbu9nOp_95flYBhnP6R76r4Arp9tsXDIWSLUZROTs3Tag52aqioCIQShdNimr92Pge7OP1DKh0_Y7RlVfZDEk-JkmJr4NjFbjuaFm-gQEn3vgMYnFa5gG1ceqnJ2OqUQteVgaay-HEBZ8cXYRTgRFuvVqjwI6zmvA0IuEZdgAkdjYQG_8z96=w1920-h912');
}

.manish {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_G5mUZbtIDZR4WUMB0Pu7XXTuVY-6mYgyhr0S9C8PGD4i3nvB-OjGJHtiKQBjrCV3XBh-6ivxqSDGLZlMhq3vrAZ-KYS7P-I-OvLlyOWwtVmppDem3PfXnsnz8cuTMN6y_UNOPbywBWVktLLxe5dvr5jJjZ1LMVCiPgErJaW_-Q8WlM6IRjtDwjzxKnQiVr1iMFR609MtpExZOnEOkwHvwfmEgmetv50yO0XqvJTzbJwrm_08aW6G6mJT3mKTBa9ApG5t_UAMl11B4Ywy1cpKDpsFHA6K6JO9Zwbp3hRERiHk9RbAJvVDbb20CyJLB6qG9Wp-SJct4gpgGf1aE_cfIQGa4YAIwqrJMTY7GOBCM5CRRFb_8xl8ecBk8y6d_4u2BFfv6nbYVEv6g40ObIveEJ5Ckz3PQ73hRtTjcCwsFxB-hbY87CmzfCO34kIg8GHGfGN7PXiZ69TdlVT8iIIQB0ikXfbEKAMfn2c5crMQLoV-i-6cBvs5m7jggDem9vS1ayPpGskbPBsx2CWf7EixzKbouThnAfTe0pVQ49eJaPz1Oa0FfIqU5inQriedy-1cmwuEu8HxqlsdMr5v-zPm7rTxB34z9M1NX5r5kN_K-hppfe3eQy2x3ntlpTLv1FiwFusogcS5W8LO69UlorNBYY-wbedgCaDy5hZb2OFv4EkHqXyrYg5_2GOBr85PXEudT87X0yUFF8b523lbHzc7ONriG-lCW_HAjk82vpsO8ox5V0x1vv-MQI5KaFqi9lCy_M_0VICZB6kMXBIevSF52S9oHEcYyYrvpene_knzk3KR9y2FrOsvIetBam-vZNikRnp2ehlQPG9zIP9pIhXvUoEABv5e4wq9V0HQ48neo4GFgiqTeaklnjsSy5EQz31xTj_tOmyq1DoOR2z6vKoIZO7a5cBttolCBY6bO-9trLk8dZphtacc_4IS-mOXcRSK_x2aO3tVL-XtKzGtHKii14Zm_N1jpciNPi-axmzVLnQirpiPSOecxD4TOArxe9nTb7WZzzDu3oJlSqR9jAjH2T0N4h-gFn3N_Y0cociTEY7GoZU6GLXu-utfbXXbD4cV-BsMCQC8GY6SBn1AGMvNJVYL47Vjzrqq2fMnvHMjlNGgsuMLl00N9IDbK7LAmK_WsvKhtzayBeXGTGswO8ULDdY2bZKDnFRAWjrWQngdFlYC4qmTFF125ByzLrMo_zb14FAyCyPZpf6RUdJdFczghsglYXvo0Sec77jLFOck1AzTScTBsfdeYLrDDPJUI4QM6NsApQj2O5qcMw2GXzHN13HNhHl5mxmx9aTBSVxmzsds6Mg_UawQNL-YxHK7Q6_5zgIcQn7eQRRwBhoQ4iE6AEC8whnvwQ_-R2e_maAYr4oFZcFuwJTJFGX6P2ex4XiyS9MG4NvqIYUSu5F-5_8-9_azeWY-qXFKhMly4UZDWSP_g3hOyNVD2EEPpprDRRc0KFNBDz_O2XGbwUtsshcfxpABdsgG9ti0GokhP11RSAjl2ebOzPWKeXwMTMWsCR3AJnTnMZU5lbJjH2ChAftkmpMqy-zAbs5R-Vn0nyunnTMYxMbS3Mj4eJsRiutfsLf3o9F_MZCRujpEnU3V-suBOBoLcj-9ZP0wGO4KqOKsRzRfqWyH4arQkyjvog4iKFnk5grTpeVDy-sYdWshk=w1920-h912');
}

.krutika {
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_EYYjuAQtJEvCU9S4q3hDljiJP8ECey8kI1m7RsFF3P_FFLs30C1Rx1F0cTzhl7tLW4ciACMrfR1Moe2paWnUqCeILMGsEReV14LXnfNlQAfDXlLj5tH1Co-NdeEZXmvseuDGL_8V0Jm1K_uGuxcvrUo8XXWtOUVvXPArgheuo242zduh1qpCNNNZfuEbZ22_4OcTdPBaHDgft8HEamMfzR-9XTEZ5mIhIeJNkgUHezsTdMVoJZyiLDY7WS_iTIYbd4Wwj7-LwzqvhWH6jiXurjNRFNa-diw5NbrD99WV2OTrYCG6QtQvc7dsgj_jkA3cY-rjz5BxJn0RFkzND_ZbWDXsHE-vOWkwEnw5yAwKFXN7cgX97IDqcBx3xKKp3CNTvP2MYn904-6cI4wF2x8KCSaDG_eP5moTfFtAJpvZbGCa40jf9y8HVNRodqvLaGsf3E0xFHTpjiOPXEhC0d9ifthH5tEvp_LuCoLsaMRJMPefkZDBIKIzzYgWDHRoGQQBQ5klIsHFagw-UDOhgJLxrk1GVHwyWdp7CeudihodrKEr2kTWCXtSazScHSGwtG-q8KBWyArWUibl_omROi1JSsNLT2ezrlBZRFa434NdVQIZYYjWDtIbx01FQ5m5hbTN8lXm4a_dXgkPvDqqWXi5uq0lo4SK-UvLf7EpSpqHPcU4BMobwmqSJtFgGStZe1BnSk77Lq38ZL0B6I-enlbPqqOUZ8nsBJrJWjDlK_WfFDJJSSLZm32EzVkHVZvZiJgVS_UTdOPqSabkwD-Phzq9SVv4GDVcNlwxJzVYcPdmnwaqe_PQK-A_a4FehKBvvmlflr5F_fOcFRvMOPFq7iHm6W60XEy8z9peMH3jbYebkhLfLT6NOk4fcmUMQHQATCwRUJ1J8Cxwi0d_JEMtk1mTKIIykNR4erHXbDqsO6GAGWoLCTKgdEm9VghrUuh2PGCV4U_bqcyyMQCzuQCTfc2GXQgUFHMbHXR1gKt_-sAh77jL9kzAwTb9a7bcNvDHfULaXkbeyrgOv939-q8xPYvcLSS6WRckHmw5pF0424GSDl-Thgce1_3Dy6ZbqJ4m8XiJ3ISR_Bo75bB_m_E4rd7Ju9WBumFCaCvlwfgeA1dxBf1yS2X9w_g3zugsaqeuOt0m3EYazxc-gbQ_oe9yXMMazW6-3OHMS5Bw_3ML8_o7gJyA9uUDxXWu0g3gOQoAp705ONmlxpPNdWbMGAtOCnlZ_4jkMU6aZsjZaRn2Xpes_0Ije_wUNQWn-GpIhVmVYZQ7v-yR1MZW44oSZrNdgYmqiAbz2omcsVZkeOW9lVrRXURTTiWKownughHY11UtZaq7HwI4C8QslPSQrpYgFi16UOBw4VJ35XTBOlCU4yUPfXJJBdDPMzSqE6_Sn81mP_bTvmEyqf2XlLl_vhlgPADrYKa31G7kq_gCNlSmY6GawtFoNTDnEAYIxremMnwckbyOQmNoS0pBjXl7uoDjr7OEu537Vetw4HLusDo6KR30kfmUkc-vLIPlJs-6WD1EZUv0WfHhk4Ar0nBEjnUMw_MB5FnFS1fYFV0y3twhNMRWCRXF8DfoMUBpY-mfq9SUKxP2L5lH7YXytfKLHVwqTPpzhxhCDoJrTzI41KGEEbcyl3sDkWbkYVgGutUfj_FJBiMcue9YcMRIq_fSseMAs1=w1920-h912');
}

.image-circle-container img {
    width: 165px;
    height: 150px;
    border-radius: 50%;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mybox h5 {
    margin-top: 10px;
}

/* Chat Gpt Section */
.image-circle-container:hover {
    background: radial-gradient(circle, rgba(245, 178, 12, 1) 0%, rgba(245, 178, 12, 1) 100%);
}

.image-circle-container p {
    opacity: 0;
    transition: all 0.5s;
}

.image-circle-container:hover p {
    opacity: 1;
    animation: rotateComplete 0.7s alternate;
}

@keyframes rotateComplete {
    0% {
        transform: scaleX(-1);
    }

    100% {
        transform: scaleX(1);
    }
}

swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #FDE49E;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 70%;
    height: 550px;
    border-radius: 50px;
    border: 10px solid white;
    object-fit: cover;
}