
body, html {
    height: 100%;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.bgimage{
    height: 100vh;
    width: 100%;
    background-image: url('https://bhavans.ac.in/college/web-assets/img/banner5.jpg');
    background-size: cover;
    background-color: #fff;
    background-blend-mode: luminosity;
    filter: blur(5px);
}

.main-section{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.images-section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FDE49E;
    align-items: center;
}

.cards-section-1 {
    align-items: center;
    display: flex;
    height: 80%;
    width: 85%;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: red;
    background-color: #FEB941;
    text-align: center;
    padding: 5px;
}

.cards-section-1 h3{
    font-weight: 700;
    color: #f1f1f1;
    margin-top: 10px;
}

.image-circle-container{
    width: 150px;   
    border: 2px solid wheat;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 141px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.arman{
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AKGpihbVvnp87XqZ8Eq97Az-bIVb5tU2b64QelwsHOmEpf5-y8z88tWsiOjM7v-DEY2pxtPpxsV_bhiR_jrrc7yxv06sCTm1qsxixac=w1366-h615-rw-v1');
}

.aniket{
    background-image: url('https://lh3.googleusercontent.com/u/1/drive-viewer/AKGpihYLWYQm2MZVR1iCcxdUTPX_QLTW_UhgECWts00t_hSMX2_pd8Z-viDNXDoXAlAhPkp6IA_1Q2_K24z-GDdxPF10UZUGkwsAakc=w1366-h641-rw-v1');
}
.atharva{
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_Ep6yDyCsf8R9aV-JcfdgkvjRaC3IlowV3H8wPqh4bt21xisKUn6aI5Ti9csZZ1mIfnBMIMs9NxK-hWgo6ZlqKBioeewF9v4gHIEQTsKAXRwh8NMd1JBTTWbaGmQyQ5W1n__7Md31-nCH8UJXs0eEem9k9zuFeRZIGzfPs6kbKpfLH6fkrha9-62QifUUVmh4lRPGUWV_X7ImOfrXp_k3e8iEFXKIxpd5bVoAHzTP2GiiLDt7XU_IIgoncQt9iYNzm9Y4LLokShZASHK-N3xX4zf2xaY8HhG3B9eIbqpt8FyUbiEh9XAPoX2QEw4vmwbFz98lxSsjfsMQ5P5KA2deg_Yn1kChzj5XnvaSyDwDTRBvUuZDa7ZLPs81fhrHvQjUvwfWBepQCXb5gWK2EZMjAKOSh0HkTpUlp7_VmZ4WiSWIHnE3omjL3yaTbCXTSPDrntogI5xYmMpMcfCf32BMNCay3t3CbrU7eqPJ85k1ZlpbYDl6JH1_epiNPpbF3lRyR47GcuVY8JjfB40IpVTN3lHUCyM9om8lIa8mdtu90-MNd858oHux9oCrZKKL9HfYkLOgNhAMqpp6zXW97h8rM-6q8KkK6aovMhU7XXoiT9jvbbUPzUZ5-5Rpc0aTje5jrwtGm2wCnFJKAPVNyggY2c7UF3dukrMBTUUzjl9l7JyhEz0kDsgD3zeLivis0PKOEIXnX1OJcjPCZ2nvTniX4i-5o6UNIx_RnkgDsa_Vw92pYHZrNGjpn4bo-ZqpjlJ5H20EJKUdbhkPdaRda3P3-pHiPivHLy7ggpVT5aRcQ4FZ9EXgreN8Ixnh96sm6OY-OwQy3oBFiJsEcEpQDEp-GHFSECk_QvfXx6EZ8QM4dP37PcN55HZ3j2X8wzYYNHRw3Ot0ru4KYZr8oC0BAkgk4Ux4wPGxKGeC9LospqtaLCQahNWEoxdhsezhT9zC8ae4na4oFqSCUcDQELqUydrMdfpeVoWLfSIuhcozjYkyXH4W7q34YhOC22oWlF7LfxxbqFFB6sGkxdtEEYRzejQSH0xivuDqYtcjftmEXI1JJ_hBHaQ4JR-iL2zuVP7TGa7mAa32w_x5a23up3WPoMKFbs67VQHa53zEhqt6awCJHbPGLWkwEELBgfuCJabt7ZWUkklvTjBqOo588RKSS8g4dDJSOomX_IpS4zAIdqTXsMAKgFI3mTL_Vheu19_MH7t9Zb6nWucn7tNUIE7q1vzMarbU8GNMopBoEq_H_xR-XZ5A_MGJxEOaWFcM5y5WjzgSV1LFg1Bc5SvVWPgqRwUfGXDiKPIhjO6iJ-8ct2EbvCja-b6DOlAwDjUD5LbsX8zFeGEoD7qyF-lJEc7yCKpC5CXXtQKDtS3yjfvCA4b9lh-IaFd7P3y5tv7duUcLfN3tXwHi1DDviiUtDtXgHUK0xnRwMmTCpcAKFdp8bpQ1avM02nWbthkHCIQgFjgHRfV8Fm4BB4OTO12MxCTYyfW_nOVv-KNwbGhjZ0s4s91ujrZ5iizu0uotkPxjEhWWMaeoQKFNNMJAxXnCe3P6aDZKzKtk9FHJixOT74BTlzRim4biDn99s5jgjnn--V2N0tDANwx4Z1ZJL9vOH_2gkKDzejHmUzGqJwz65vzifDJy2eaOmzG9qmnnMVUENtlPXEkDO_6hXlg61b0tdxtgr4=w1920-h912');
}
.piyush{
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_H-2IIxoqZMi-b0PhcMyMbPsX8H16ikzr90BTXfn78MsfbQe1N2Tz1rdWJO3gULPHa7IWY2DXwCSQ8D96hwVkHzbD95YIKAYaWbjMngGfnYeMYdTOMWnkUyP0aduh9qQqbpBOfBFATKdRUBkxM0BdE-2B4zAC7dlSndTeVy4viNZ99C3wqkv61wN3euBDtST_709fu2YTicl4jTFEux8XSXlBZmH4oAOSaLu5enDyyQxaLphQcRtqu1FTODFuLZ2m9_pWLN-Rra_kkFGotgFMT0r2d5SPkbKFhLHDK_KTiCT5lG_qpFvxuCp3ESbiR_QCtIBOCXLGNjhNonLc8QTVt8wxIA0RyXytWsBZahcVEhgB049o15u2K3I5QDNskGNQV91Mvt-SruNNTsE-zG66Lw5JCRPTFwQmJt1hveUtf1HFiIrAi9i7UQhPrdDW959v1esJB9e6h_D6HD871RSnw023O9pqB1PJW_ezxZlOSFQFMvHsiQwxz1qHqgxeOda9dlnN5ju8HUgIuDQbNTi0TOqACWy2Yw6JHmrpKh0MBTSJT4w5p2IP-vbMzxt1vjEWHpSAeokRp9c8uRABrnQQEZwJy7EAB6Vrn_W_CGrx3xjRk545JvNtrpkWQdre5SgkgWy5xdnEmmuu9zIx9YR1kvnD3rsCu5SW9Hv8N21rMVVjdDlcSprjeBxvsTDBwcxlZMBv7oY4tvUvR7gu0jyG2PPYFU65cIGtnJyFLddPRAXxHVeI8dm0N90fTtTWgoLi18wO3yR3_bJX6HOz-4GNGiG6SdhWO5urh6Z4pdEprL5jSIlHGrrFKfDpaD-osowrhLkRcPAFVCtee3aL-nmD-9gpV4cOB9LKaxYF1YPm8MllaiqyMfHFVbqn4BL5oOYUtoUDgu0Dkvx-II2nXZPsA6XTYJF0Bf4FD7DfWzTuoOmD2H9m1X3Z7yM9p7-0Uf4o4VKuey6Jca_M5pbiD4chqHLiI4svlqeVgPm-3vnM9u6-1oA85zLS8WQ4jgTXUkX7hlayYXGqROutk8wjNP4ZtmdHrW9FK2BV-KqFhyEIIpJQ1GaoKyC_RmzIN7FbZu6aGXfyPcHS3UjTuq25ohMsQefWxYaDradHmEVVn1OkncSQ2_ZAPxJ2DuUGHswu9qk7rQp3ceLWgFgrQ_V9pHm9U8ELiEseyV7sLVOgST79BywxCuNw7QHjYbrxPStQY26ZgX0KLNZs4RysdUvO9gSlO2PM3wm2OBSjf8JwkktAC7vogsC4p3k-99mqPOYU1npt-2iNYSoTnV0XUMZ1sRtz5Pc9d2rvnP3fWZbtZYwO7s_0pKIvwQXQaQcXZxcWzwmykcHsEbKo7Jik1QMkmsSE7y_BkcvcISua6ZHvcSy7-EPjvcadb9lAlmLrNUzBO8QoWrX55g2tThemeB6zFXReO-RZ05jIs7-e1-KPQicNrsbKDG3u-QYlkKktJTxfGcfKf_XvP7pQS-oTMelzL_m6TABupVtRzCFh9l731FdZGB51uECAgwM0WTxOorqW8vojnMxhelcAlKr2DAWGmjUzaFI_sZ7YmQ2LGbvd88s3a8gIgo4YwkSVYUzF3FsmOnjJXErbHvxMskoCg83JLO7zhPDclmbIhoy4nxXWwmaC8h05VaqT6VqL18mG9fsRq5-tBZQrXs90HotlswSoHF=w1920-h912');  
}
.vinit{
    background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_E4hPnzsWe-GQSmJ4VEiA3Cdh1S9jgqvpA-JuM3Eyb2pRon6zw5ace2Xf9swExeq_gX_H824PZdoxS9NMkMzGYlFinsILcMgWiwruzk84tcPY6aAovIQkigu4QT3LdhG9e_ZIdfuy30VwPgqSsQi1cy9ENbvTk7547zoL59fffHx3FxaZGfswHiKjYL8KjkyO7WkWvukd-jPPFDmaQmUDIdAepopo4A_l-_jY66ovu7Isd1ZJET80IAVHkZdyN62fJPSkM6VI3fp_xaQfVMPU3ir9YZDFVTi6gKOzeyY1Pd-pAG1nShfRMOu70T9KPE-1xR0laKAycnNvZ1-DASuli5_D8PA8W-q0wXUh_vuRka7TLmg1Z1JbRnTrHkCxsKFXyVnXYzZ6XA04DjH3XBRByXd-fY8rOzKF-rUE10x1e3g_Bi23yoZUWlphEjNUQbGeYPg6pL0HzaUjMe7zSnoQWb1q0xTSFwnUbh1IoGZCH_X-4Z4cq-U0zahiltbt0gn3ehtGu2JFz890vAqUSMEnTjugNW5xCVCu9hgG7dLoHqgCsEeTzI_F2aqRg7WJaIv7BWKKu_Nkeuoxfsb7gf-Z1ds_pR1r-3EpWsnTGUVy0ZowvbNkbNues-GlKJVhz9qJ1AmTragn5PaT028LQwxOE2xvkiXlyyrlonuuFS5DsxUw5Do-fVolbd2RXSR-Zl7QBzTpppz3LCYnDnbIJa81DNvgkGmBXy_TJlFJLiFiGJeVzfOA7QFNfwXpf0i6txw7TeOCzofWwZgAdwNgYJilHt-dEo_W9N3SPtp_gGv5OfKgkVi_Fl2Ml7CxSmHnfG7l9Oo3Mo-lGZM8THGPvgeQF29n3hdwNwRFrEsdSbKaa4lMJ4TV1Lt0hM5v_PsylaNgzjbKfRqaXZ0n3U0YqKgs08IpWoClzkO76gk-nudPy1tF27TkxtmjJoHwwVCXufnELg3qls8cOL5d_VXFNkj0HEQ9_YvLk8Qj9GszebaGfJv2KYmamKH9BsCh44KJhoeodwPX6Xn9cB9pkUt0a_jM6WxjsrHy6quGgyvZVNUw3cVMsQda7VsP3y2r65UX8HPPmEvpNdK3GHnGgzF0cKZgbv1_F8k2marqaW6lC5BYnpK7foH7vJUrVBPV5KQa9T9P_HMLAv3-mXLPQZL2VcfKhUfdQoPImZjq2AL5jUH1UJ6N12Jc8rbiVk8WJb_Hgv-tHn62c0_N-nXH5MS3yzX3cqIoOI_sPACcQXVTUXFUAGDqzpKekOHlA2mZ1o4a2Ce9Ei7iioyC5aPrEJseZCzN95XtwR8FmOdBX-ElPYKzqXPWphiIBwjnj7tiiUtJaC0Omt7JKG-3Zja0GrlhfhcZKFPLNx3QPP2OzF7lUrsnIBQUgqkc-PNOjVuuhSCRjnkCiHzizsuRnqkrN4Lvi7_uFxz5J3QkTGMsYcWlq3hkm-CQ5buj8MfW4Ezpnd2hNK3HqKi5Xrraze-qqtXLdraQMkBSAgKEWSbNnuJGcUlQZtnUhva8JxHr5mDcENsar3YcllGuiHVuATE1bNqr4x-O7b0CMOZpR4SOLRUA25F6IafQ7cc8aSDFuBjI4cuuLKROD7ZoteZrAF_6Dp2F3Gh9_ql0DfvukeeO4Uq8S4UONdbBiRoL6yW7dtl2jFGZ2g2DF_ISlnb0pFSEnI7xk=w1920-h912');  

}
.image-circle-container img{
    width: 165px;
    height: 150px;
    border-radius: 50%;
}

.images-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mybox h5{
    margin-top:10px ;
}