*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.navbar{
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    
}

.navbar img{
    height: 60px;
    width: 128px;
}
.navbar i{
    margin: 20px;
}

.location{
    padding:7px;
}
.searchbox{
   
    border-radius: 10px;
    width: 701px;
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 6px;

}
#ct-dropdown{
    height:45px;
    width: 55px;
    border: 4px solid orange;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}